doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    block title
      title Mail
    link(href='../src/scss/css/responsive.css', media='all', rel='stylesheet', type='text/css')
  body(itemscope='', itemtype='http://schema.org/EmailMessage')
    block content
